@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Bold.eot');
  src: url('../fonts/Amiri-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Amiri-Bold.woff2') format('woff2'),
      url('../fonts/Amiri-Bold.woff') format('woff'),
      url('../fonts/Amiri-Bold.ttf') format('truetype'),
      url('../fonts/Amiri-Bold.svg#AmiriBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 20px;
}

@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Regular.eot');
  src: url('../fonts/Amiri-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Amiri-Regular.woff2') format('woff2'),
      url('../fonts/Amiri-Regular.woff') format('woff'),
      url('../fonts/Amiri-Regular.ttf') format('truetype'),
      url('../fonts/Amiri-Regular.svg#AmiriRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 20px;
}

.required:after {
  content: "*";
  color: red;
}

* {
  box-sizing: border-box;
}

.h2,
.nav-link {
  font-size: 1.1vw;
}

.dummy-data,
.badge-pill {
  font-size: 1vw;
}

.card {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  width: 85%;
  height: 25vh;
  position: relative;
}

.card:hover {
  background-color: rgb(215, 225, 233);
} 

.item {
  font-size: 15px;
  color: gray;
}

.col1 {
  text-align: center;
  position: absolute;
  top: 30%;
}

.col2 {
  position: absolute;
  top: 50%;
  right: 50%;
}

.dummy-data {
  direction: ltr;
  position: absolute;
  top: 90%;
  transform: translate(0, -50%);
}

.badge-pill {
  background-color: #40ade3;
  color: white;
}

.h2,
.fa-solid,
.dummy-data {
    color: #40ade3;
}
  



@media (min-height: 600px) {
body {
    overflow: hidden; 
} 
}


@media (max-height: 599px){
  .card {
    height: 35vh;
}
}


@media (max-height: 400px){
  .card {
    height: 60vh;
}
}                                                                                                                                                                 

@media (max-width: 768px){
  .col1 {
      top: 30%;
      text-align: right;
      position: absolute;
      right: 20%;
  }
  body {
      overflow: scroll;
  } 
    
  .h2,
  .nav-link {
    font-size: 1rem;
  }
    
  .dummy-data,
  .badge-pill {
    font-size: 0.9rem;
  }
}
    






